.use-case {
    padding: rem(50px) 0 rem(100px);
    @include respond-below(lg) {
         padding-bottom: rem(70px);
    }
    .swiper-container {
        overflow: hidden;
    }
    .uc {
        &-info {
            margin-bottom: rem(12px);
            p{
                color: $primary-100;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        &-heading {
            margin-bottom: rem(13px);
            &:first-child {
                margin-right: rem(40px);
            }
            h2 {
                margin-bottom: 0;
            }
        }
        &-left {
            @include respond-below(lg) {
                width: 100%;
            }
        }
        &-right {
            .swiper-controls {
                @include respond-below(lg) {
                    display: none;
                }
            }
        }
        &-view {            
                @include respond-below(lg) {
                    margin-right: rem(20px);
                }
        }
        &-heading-wrap {
            @include respond-below(lg) {
                width: 100%;
                justify-content: space-between;
            }
        }
        &-main-wrap {
            margin-bottom: rem(13px);
        }
        &-content {
            max-width: rem(773px);
            width: 100%;
            @include respond-below(lg) {
                max-width: rem(600px);   
            }
            @include respond-below(sm) {
                max-width: 100%;   
            }
        }
        &-content-desc {
            margin-bottom: rem(60px);
            @include respond-below(lg) {
                margin-bottom: rem(45px);   
            }
            p {
                @include respond-below(lg) {
                    font-size: rem(14px);
                }
            }
        }
        &-border {
            padding-bottom: rem(5px);
            border-bottom: 1px solid $color-200;
        }
        &-review {
            @include respond-below(lg) {
                margin-bottom: rem(34px);
            }
            h3 {
                font-weight: 700;
                color: $secondary-100;
            }
        }
        &-swiper-wrap {
            @include respond-below(lg) {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
        &-stats-row {
            @include row-space(24px);
        }  
        &-image-wrap {
            max-width: rem(290px);
            width: 100%;
            @include respond-below(lg) {
                display: none;
                max-width: 100%;
            }
        }
        &-image-inner {
            position: relative;
            padding-top: aspect-ratio(290, 366);
            width: 100%;
            border-radius: rem(10px);
            overflow: hidden;
            @include imgFit;
            @include respond-below(lg){
                padding-top: 66.2069%;
            }
        }
        &-image-mobile {
            display: none;
            @include respond-below(lg) {
                display: block;
                margin-bottom: rem(50px);
            }           
        }
        &-mobile-controls {
            display: none;
           @include respond-below(lg) {
            display: block;
            text-align: center;
           }
        }       
    }   
}